<div class="container">
    <div class="d-flex justify-content-center align-items-center gap-3 mt-5 ">
        <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/618m6YNeboL.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lg</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="https://whirlpoolindia.vtexassets.com/arquivos/ids/164386/Xpert-care-Silver-lid-open-O3-6.5kg_1500x1500.jpg?v=638000290210600000" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Washing machine</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="https://klivago.com/media/image/product/2127/md/lg-air-conditioner-r32-wall-unit-standard-plus-pc12sq-35-kw-i-12000-btu.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">LG invertor</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>